{% extends 'base.html' %}

{% load static %}

{% block content %}


    <div class="row justify-content-md-center mb-4">
        <div class="col-10 text-center">

            <form id="form_search_phone">
                {% csrf_token %}
                <div class="form-row mt-5">
                    {% csrf_token %}
                    <div class="form-group col-6">
                        <label for="enterprise">Enterprise</label>
                        <select id="enterprise" name="enterprise" type="text"
                                class="form-control">
                            {% for enterprise in enterprises  %}
                                <option value="{{ enterprise.name }}">
                                    {{ enterprise.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-6">
                        <label for="phone_number">Phone number</label>
                        <input id="phone_number" name="phone_number"
                               type="text"
                               class="form-control" placeholder="Phone number">
                    </div>
                    <div class="form-group col">
                        <button id="btn_search_phone" type="button"
                                class="btn btn-success pull-right">
                            <i class="fa fa-refresh"></i> Search / Refresh
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>

    <div class="modal fade" id="delete_messages_modal" tabindex="-1" role="dialog"
         aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">
                        Deleting all messages
                    </h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure, that you want to delete from database all
                    messages for the selected phone number?
                </div>
                <div class="modal-footer">
                    <button id="btn_delete_messages" type="button"
                            data-dismiss="modal"
                            class="btn btn-danger"> Delete all messages
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="row justify-content-md-center mb-4">
        <div class="col-md-10">

            <div class="card">
                <div class="card-body messages-box" id="messages-card">

                    <ul id="messages_list" class="list-unstyled messages-list">

                    </ul>

                </div>

                <div class="card-footer">
                    <form id="form_sending_sms" class="send-message-form">
                        {% csrf_token %}
                        <div class="input-group">
                            <button id="btn_call_delete" type="button"
                                data-toggle="modal"
                                data-target="#delete_messages_modal"
                                class="btn btn-danger pull-left">
                            <i class="fa fa-remove"></i> Clear
                        </button>
                            <input id="text_to_send" type="text"
                                   name="text_to_send"
                                   class="form-control input-sm"
                                   placeholder="Type your message here..."
                            />
                            <span class="input-group-append">
                                <button id="btn_send_message"
                                        class="btn btn-primary" type="button">
                                    Send <i class="fa fa-paper-plane"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>


{% endblock %}
