.console-input, .console-input:focus {
    font-family: Menlo, Consolas, "Andale Mono", "Lucida Console", monospace;
    color: #ffffff;
    background-color: #000000;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #000000;
    color: #ffffff;
}

/*------------------------------------
  Messages
------------------------------------*/
.unread {
    cursor: pointer;
    background-color: #f4f4f4;
}

.messages-box {
    max-height: 30rem;
    overflow: auto;
}

.online-circle {
    border-radius: 5rem;
    width: 5rem;
    height: 5rem;
}

.messages-title {
    float: right;
    margin: 0px 5px;
}

.message-img {
    float: right;
    margin: 0px 5px;
}

.message-header {
    text-align: right;
    width: 100%;
    margin-bottom: 0.5rem;
}

.text-editor {
    min-height: 18rem;
}

.messages-list li.messages-you .messages-title {
    float: left;
}

.messages-list li.messages-you .message-img {
    float: left;
}

.messages-list li.messages-you p {
    float: left;
    text-align: left;
}

.messages-list li.messages-you .message-header {
    text-align: left;
}

.messages-list li p {
    max-width: 60%;
    padding: 5px;
    border: #e6e7e9 1px solid;
}

.messages-list li.messages-me p {
    float: right;
}

.ql-editor p {
    font-size: 1rem;
}

.messages-p {
    border-radius: 10px;
    min-width: 310px;
    min-height: 70px;
}

.avatar-sm {
    width: 75px;
    height: 75px;
}

#btn_send_message {
    border-radius: 0 8px 8px 0 !important;
}

#btn_call_delete {
    border-radius: 8px 0 0 8px !important;
}

.card {
    min-height: 420px;
    font-size: 14px;
}

.message-text {
    font-size: 16px;
}